<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Quitanda do Zé - sobre</title>
</head>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-success shadow border-bottom border-dark border-2 border-opacity-10">
        <div class="container">
            <i class="bi bi-shop-window text-white fs-3 fw-bold m-3"></i>
          <a class="navbar-brand fs-4 fw-bold text-white" href="#">Quitanda do Zé</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Home - Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Quem somos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contatos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">@quitandadoze</a></li>
                  <li><a class="dropdown-item" href="#">(15) 998563721</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </header>

  <main>
        <h1>Nossa História</h1>
    
        <div class="box1">
          <div class="coluna1">
            <p>A Quitanda do Zé tem suas raízes na simplicidade e no empreendedorismo de José Carlos Pereiras, um homem do interior paulista que decidiu compartilhar os sabores da terra com sua comunidade. A história da Quitanda do Zé é um exemplo de perseverança e crescimento gradual.</p>
          </div>
          <div class="coluna2">
            <img src="../static/img/imagem 1.jpeg" id="img1">
          </div>
        </div>
    
        <div class="box2">
          <div class="coluna3">
            <img src="../static/img/imagem 2.jpeg" id="img2">
          </div>
          <div class="coluna4">
            <p>Tudo começou quando Zé, como é carinhosamente chamado, saiu pelas ruas com seu carrinho de mão carregado de frutas e verduras frescas. De porta em porta, ele oferecia seus produtos, conquistando a confiança de seus primeiros clientes. </p>
          </div>
        </div>

        <div class="box3">
            <div class="coluna5">
            <p>À medida que o tempo passava, Zé e sua equipe mantiveram-se fiéis a seus valores de oferecer produtos de alta qualidade e um atendimento acolhedor. Isso atraiu cada vez mais clientes leais.</p>
            </div>

            <div class="coluna6">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  MISSÃO
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>A missão da Quitanda do Zé é simples e clara:</strong> fornecer alimentos frescos, saudáveis e saborosos a preços acessíveis. Eles se comprometem a atender as necessidades de seus clientes com produtos de qualidade superior e a criar um ambiente acolhedor que celebre a comunidade local.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  VISÃO
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>A visão de Zé é continuar a crescer e a servir a comunidade.</strong>Ele sonha em expandir a Quitanda do Zé para outras regiões, compartilhando os sabores únicos de seu local de origem. Ele acredita que a paixão pela qualidade e o compromisso com o cliente são os pilares para um futuro brilhante.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  VALORES
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  A Quitanda do Zé se baseia em valores sólidos:<br> <strong>Qualidade:</strong> Eles se esforçam para fornecer produtos da mais alta qualidade, cultivados localmente sempre que possível.<br> <strong>Honestidade: </strong>A transparência e a integridade estão no centro de tudo o que fazem.<br> <strong>Comunidade: </strong>Eles são parte da comunidade e se dedicam a apoiá-la.<br> <strong>Atendimento ao cliente: </strong>Cada cliente é um amigo, e eles tratam todos com carinho e respeito.<br> <strong>Sustentabilidade: </strong>Comprometem-se a adotar práticas sustentáveis em suas operações. Hoje, a Quitanda do Zé é uma parte essencial da vida da comunidade local. Zé e sua equipe continuam a trabalhar com paixão e dedicação, trazendo a essência do campo para a cidade.
                </div>
              </div>
            </div>
            </div>
        </div>
        </div>

        <div class="box2">
            <div class="coluna3">
                <img src="../static/img/imagem 3.jpeg" id="img3">
            </div>
            <div class="coluna4">
                <p>A história da Quitanda do Zé é um lembrete de que, com trabalho árduo, amor pelo que se faz e valores sólidos, é possível transformar um carrinho de mão em uma instituição local, proporcionando qualidade de vida e sabor para todos.</p>  
            </div>
        </div>
  </main>

  <footer class="">
    <div class="container">
        <div class="row py-2">
            <div class="col-12 col-md-4 text-center">
                &copy; 2023 - Quitanda do Zé LTDA-ME<br>
                Rua Érico Pimentel Dias, 187, Itapeva/SP
                <br>CNPJ 99.999.999/0001-99
            </div>
            <div class="col-12 col-md-4 text-center">
                Política de Privacidade<br>Termos de uso<br>Trocas e Devoluções
            <br>
            </div>
            <div class="col-12 col-md-4 text-center">
                Contato pelo Site<br>E-mail: contato@quitandadoze.com.br<br>Cel: (15) 99999-9999
                <br>
            </div>
        </div>
    </div>
  </footer>

  </body>
</html>